.img1{
    margin-top: 2px;
    margin-left: 2px;
    width: auto;
    height: 240px;
    border-radius: 60px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-style: groove;
    border-color: darkgreen;
    box-shadow: rgb(90, 70, 54) 2px 3px;
    float: left;
    max-width: 190px;
} 

.about-nav{
    background: rgba(0,0,0.5,0.5);
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    max-width: auto;
}

.about{
    padding: 2em;
    color:rgb(236, 236, 220);
    box-sizing:border-box;
    border-radius: 40px;
    display: flex;
    flex-flow: row;
    max-width: auto;
    padding: 10%;
}

.about h2{
    height: auto;
    width: auto;
    padding-left: 20em;
    text-decoration-line: underline;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    
}

.about p{
    /* margin: 20px; */
    width: auto;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-right: 1em;
    padding-left: 12em;
    flex: 2;
}
.about a{
    padding: 2em;
    margin: 5px;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: bisque;
}

.main{
display: flex;
flex-flow: column;
}

.center{
    margin: auto;
    margin-top: 100px;
    /* align-items: center; */
    /* justify-content: center; */
}
