select{
    margin-top: 1.5px;
    background:rgba(0,0,0.5,0.5);
    height: 29px;
    width: 100%;
    border: 1px solid rgb(166, 174, 177);
    color:rgb(210, 228, 227);
    font-family:Roboto,sans-serif;
    font-weight: 1px;
}

.main2{
    display: flex;
    flex-flow: column;
    max-width: 300px;
    margin: auto;
    padding: 5%;
    }
    
.event-page{
    padding: 3em;
    background:rgba(0,0,0.5,0.5);
    color:#FF80FF;
    /* top:70%; */
    /* left:15%; */
    /* position:absolute; */
    box-sizing:border-box;
    max-width: auto;
    border-radius: 15px;
    display: flex;
    flex-flow: row;
    margin-top: 50px;
    flex-wrap: wrap;
}

.event-page input{
    width:100%;
    margin-bottom:20px;
    text-align:center;
}

.event-page input[type="text"]{
    border:none;
    border-bottom:1px solid #fff;
    background:transparent;
    outline:none;
    height:40px;
    color:#fff;
    font-size:16px;
}

.event-page input[type="date"]{
    border:none;
    border-bottom:1px solid #fff;
    background:transparent;
    outline:none;
    height:40px;
    color:#fff;
    font-size:16px;
}

.event-page p{
    margin:0;
    padding:0;
    font-weight:bold;
    color:rgb(175, 240, 186);
}

.event-page h2{
    margin:0;
    padding:0 0 20px;
    text-align:center;
    font-size:30px;
    font-weight: bold;
    color:rgb(36, 233, 223);
}

hr{
    color:transparent;
}

.event-page input[type="submit"]{
    border:none;
    outline:none;
    height:40px;
    background:#1c8abd;
    font-size:18px;
    border-radius:20px;
    color: #FFFFFF
}

.event-page input[type="submit"]:hover{
    cursor:pointer;
    background:#6bcc90;
    color:rgb(39, 30, 30);
}

