body{
    background-repeat: no-repeat;
    background-image: url(../images/bw.jpg);
    display: flex;
    flex-flow: column;
    background-size: cover;

}

.main{
    display: flex;
    flex-flow: column;
    }

nav{
    background: rgba(0,0,0.5,0.5);
    border-radius: 10px;
    /* overflow: auto; */
    margin-top: auto;
    margin-bottom: auto;
}

nav a:hover{
    background: rgba(0,0,0.5,0.5);
    transition: 0.2s;
    text-transform: uppercase;
}

.navbar{
    overflow: hidden;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.navbar a{
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: flex;
}

.contact{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background: transparent;
    font-family: inherit;
    margin: 0;
}

.options{
    display: none;
    position: absolute;
    background: rgba(0,0,0.5,0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.options a{
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.options a:hover{
    background: rgba(0,0,0.5,0.5);
}

.options img{
    height: 20px;
    width:20px;
    border-radius: 6px;
}

.dropdown:hover .options{
    display: block;
}
form{
    margin: 6px;
}

form button{
    padding: 6px;
    background: orange;
    border-radius: 0 5px 5px 0;
    border-color: white;
    /* margin-top: -30px;
    margin-right: 238px; */
    /* border: 1px; */
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

form input{
    padding: 6px;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.images{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    flex-flow: row;
}

.images img{
    margin-top: 2px;
    margin-left: 2px;
    width: auto;
    height: 200px;
    border-radius: 60px;
    border-style: groove;
    border-color: rgb(142, 158, 142);
    box-shadow: rgb(90, 70, 54) 2px 3px;
    float: left;
    max-width: 280px;
}
